/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.responsive
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.row-centered {text-align:center;}
.col-centered { display:inline-block; float:none; margin-right:-4px;}
.navbar {
  padding-top: 20px;
}

.navbar-weather {
  background-image: url(asset-path("clouds.jpg"));
  background-size:cover;
  box-shadow: 0px 0px 10px 10px #322A9E;
  border: none;
}

a.navbar_link:hover {
  text-decoration: none;
  background-color: transparent !important;
  color: orange !important;
}
a.navbar_link:hover h2{
  color: #F14A00 !important;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.select2 {
  display: inline-block !important;
}

